@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface-900 text-gray-100;
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-surface-900;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-surface-600 rounded-full;
  }
}
